#####################################################################
#   HOMING & GANTRY LEVELING
#####################################################################

# Home Y first to prevent left stepper from blocking X endstop
[homing_override]
set_position_z: 0
gcode:
    M204 S5000
    G1 Z5 F1000
    SET_DISPLAY_TEXT MSG="Homing Y axis"
    G28 Y
    G1 Y335 F2000
    G1 Z5
    SET_DISPLAY_TEXT MSG="Homing X axis"
    G28 X
    G1 X175 Y193 F3000
    SET_DISPLAY_TEXT MSG="Homing Z axis"
    G28 Z
    G1 Z9
    M204 S15000

#####################################################################
#   CONDITIONAL HELPERS
#####################################################################

[gcode_macro _CG28]
description: Home all axes if not already homed
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro PARK]
description: Park toolhead at bed center Z30
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30

[gcode_macro G32]
description: Home, QGL, and park (manual prep)
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    _CG28
    QUAD_GANTRY_LEVEL
    G28 Z
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32

#####################################################################
#   FAST QGL (two-pass: coarse then fine)
#####################################################################

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        _QUAD_GANTRY_LEVEL RETRY_TOLERANCE=1.0
    {% endif %}
    _FINE_QUAD_GANTRY_LEVEL

[gcode_macro _FINE_QUAD_GANTRY_LEVEL]
gcode:
    {% if printer.quad_gantry_level.applied == True %}
        _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2.0
    {% else %}
        {action_respond_info("Fine QGL called without coarse QGL first!")}
        _QUAD_GANTRY_LEVEL
    {% endif %}
