######################################################################
# Customized homing
######################################################################
#; home y first to prevent left stepper from blocking endstop on x
[homing_override]

set_position_z:0

gcode:
   SET_DISPLAY_TEXT MSG="Homing override initiated"               # Display info on display
    M204 S5000
    G1 Z5 f1000
    G28 Y
    G1 Y335 f2000  #move forwards to y340 after homing y to stop fowling on cable chain?
    G1 Z5
    G28 X
    G1 x175 y193 f3000
    G28 Z
    G1 Z9
  M204 S15000


#axes: Z    

# Safe Z homing. One may use this mechanism to home the Z axis at a
# specific XY coordinate. This is useful if the toolhead, for example
# has to move to the center of the bed before Z can be homed.

#[gcode_macro G29]
#gcode:
#	G28
#	G1 Z10 F600
#	BED_MESH_CALIBRATE
#	BED_MESH_PROFILE save=textured
	
#[safe_z_home]
#home_xy_position: 175,111.24
#speed: 50.0
#z_hop: 10	#move up 10mm
#z_hop_speed: 5
#move_to_previous: True